@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:ital,wght@0,400;1,700&display=swap');

h1 {
  font-family: 'Inconsolata', monospace;
  font-weight: 800;
}

p {
  font-family: 'Inconsolata', monospace;
  font-variation-settings: 'wght' 400, 'wdth' 100;
}

form, .form-group, label, input, button {
  font-family: 'Inconsolata', monospace;
  font-weight: normal;
}
.photo {
  text-align: center;
  margin-bottom: 15px;
}

.photo-img {
  width: auto;  /* Permet à l’image de conserver son ratio */
  max-width: 80px;  /* Limite la taille maximale sur grand écran */
  height: auto;
  display: block;
  margin: 0 auto;
}
/* Style du lien "Choisir une photo" */
#choose-link {
  font-size: 16px;
  color: #f8990a;
  text-decoration: none;
  font-weight: bold;
  margin-top: 10px;
  cursor: pointer;
  transition: color 0.3s ease;
}

/* Effet au survol du lien */
#choose-link:hover {
  color: #e1640b;
}
.button-group a {
  color: #f5f5f5;
  text-decoration: none; /* Enlève le trait sous le lien */
}

/* --- Responsive --- */
@media (max-width: 768px) {
  .photo-img {
    max-width: 40px;  /* Taille réduite sur tablette */
  }
}

@media (max-width: 480px) {
  .photo-img {
    max-width: 20px;  /* Taille encore plus réduite sur mobile */
  }
}



.upload-box {
  border: 1.4px dashed #aaa;
  border-radius: 19px;
  padding: 20px;
  text-align: center;
  cursor: pointer;
  height: 100px;
}

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  background: url('assets/images/background-desktop.png') no-repeat center center fixed;
  background-size: cover;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo-container {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.logo {
  width: 50px;
  margin-right: 10px;
}

.coding-conf-text {
  font-size: 1.5em;
  font-weight: bold;
  color: white;
}

.container {
  max-width: 600px;
  padding: 20px;
}

.form-wrapper {
  padding: 20px 30px;
  border-radius: 10px;
  text-align: center;
}

.header h1 {
  font-size: 24px;
  margin: 0;
}

.header p {
  font-size: 14px;
  margin: 10px 0 20px;
}

.btn-remove {
  color: #8f8080;
  background-color: transparent;
}

.form-group {
  margin-bottom: 20px;
  text-align: left;
}

label {
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
}

input[type="text"],
input[type="email"] {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  border: none;
  border-radius: 5px;
  background-color: rgba(200, 200, 200, 0.2);
  color: white;
  border: 1px solid #cccccc69;
}

button.btn {
  background-color: #ff6600;
  color: #fff;
  border: none;
  padding: 15px 20px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  width: 100%;
}

button.btn:hover {
  background-color: #e65c00;
}
@media (max-width: 768px) {


  .upload-box {
    height: 80px;
    padding: 15px;
  }

  button.btn {
    padding: 12px 18px;
    font-size: 14px;
    max-width: 250px;
  }
}

@media (max-width: 480px) {

  .upload-box {
    height: 70px;
    padding: 10px;
  }

  button.btn {
    font-size: 14px;
    padding: 10px 15px;
    max-width: 220px;
  }
}






























 










































