@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:ital,wght@0,400;1,700&display=swap');

body {
  margin: 0;
  font-family: 'Inconsolata', monospace;
  background: url('assets/images/background-desktop.png') no-repeat center center fixed;
  background-size: cover;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  max-width: 600px;
  padding: 30px;
}

.form-wrapper {
  padding: 20px 30px;
  border-radius: 10px;
  text-align: center;
}

/* En-tête */
.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  width: 50px;
  margin-right: 10px;
}

.coding-conf-text {
  font-size: 1.5em;
  font-weight: bold;
  color: white;
}

h1 {
  font-size: 24px;
  margin: 10px 0;
}

p {
  font-size: 14px;
  margin-bottom: 20px;
}

/* Champ d'upload */
.upload-box {
  border: 1.4px dashed #aaa;
  border-radius: 19px;
  padding: 20px;
  text-align: center;
  cursor: pointer;
  width: 100%;
  max-width: 500px;
  position: relative;
  margin: 0 auto;
}

.photo {
  text-align: center;
  margin-bottom: 10px;
}

.photo-img {
  width: 100%;
  height: 100%;
  max-width: 150px;
  max-height: 150px;
  object-fit: cover;
  display: block;
  border-radius: 10px;
  margin: 0 auto;
}

/* Lien choisir une photo */
#choose-link {
  font-size: 16px;
  color: #f8990a;
  text-decoration: none;
  font-weight: bold;
  cursor: pointer;
  transition: color 0.3s ease;
}

#choose-link:hover {
  color: #e1640b;
}

.button-group a {
  color: #f5f5f5;
  text-decoration: none;
}

/* Champs du formulaire */
.form-group {
  margin-bottom: 20px;
  text-align: left;
  width: 520px;
}

label {
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
}

input[type="text"],
input[type="email"] {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  border: none;
  border-radius: 5px;
  background-color: rgba(200, 200, 200, 0.2);
  color: white;
  border: 1px solid #cccccc69;
}

/* Bouton */
button.btn {
  background-color: #ff6600;
  color: #fff;
  border: none;
  padding: 15px 20px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  width: 100%;
}

button.btn:hover {
  background-color: #e65c00;
}

/* Responsive */
@media (max-width: 768px) {
  .photo-img {
    max-width: 120px;
    max-height: 120px;
  }

  .upload-box {
    padding: 15px;
  }

  button.btn {
    padding: 12px 18px;
    font-size: 14px;
    max-width: 250px;
  }
}

@media (max-width: 480px) {
  .photo-img {
    max-width: 100px;
    max-height: 100px;
  }

  .upload-box {
    padding: 10px;
  }

  button.btn {
    font-size: 14px;
    padding: 10px 15px;
    max-width: 220px;
  }
}
